.app-bigtitle {
    font-family: "Anton", sans-serif;
    font-size: clamp(72px, 22vw, 96px);
    font-weight: 400;
    color: var(--color-secondary);
    text-transform: uppercase;
    letter-spacing: 4.8px;
    line-height: 1.2;
    margin: 0;
}

.app-mediumtitle {
    font-family: "Anton", sans-serif;
    font-size: calc(clamp(72px, 22vw, 96px) / 2);
    font-weight: calc(400 / 2);
    color: var(--color-secondary);
    text-transform: uppercase;
    letter-spacing: calc(4.8px / 2);
    line-height: calc(1.2 / 2);
    margin: 0;
}
