.home-screen {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    background: var(--color-primary);
    padding-bottom: 100px;
}

.home-tabs-bar {
    display: flex;
    width: 100%;
    padding: 9px 16px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--color-primary);
}

.posts-feed {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 15px;
    flex: 1;
    height: max-content;
    overflow-y: auto;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    flex: 1;
    justify-content: center;
}
